<h1>What Type of Triangle Do You Have?</h1>
<form action="/triangles">
  <div class="form-group">
    <label for="side1">Enter Side One</label>
    <input id="side1" name="side1" class="form-control" type="text">
    <label for="side2">Enter Side One</label>
    <input id="side2" name="side2" class="form-control" type="text">
    <label for="side3">Enter Side One</label>
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
